/* 整體樣式設定 */
body {
    font-family: Arial, sans-serif;
    height: 200vh;
    margin: 0;
    padding: 0;
}

.header {
    padding: 30px;
    text-align: center;
    background: #ef97b2;
    color: white;
}

.header h1 {
    font-size: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #f1acc2;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ea5783;
    color: white;
}

.footer {
    padding: 30px;
    text-align: center;
    background: #ef97b2;
    color: white;
    margin-top: 30px;
}

.search-form input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #ef97b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.search-form button:hover {
    background-color: #ea5783;
}

/* 容器樣式 */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* 行樣式 */
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 產品樣式 */
.product {
    width: calc(33.33% - 20px);
    border: 1px solid #ccc;
    padding: 20px;
    position: relative;
}

.product img {
    max-width: 100%;
    height: 50%;
    width: 100%;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.1);
}

.product h2 {
    margin-top: 0;
}

.product p {
    margin-bottom: 10px;
}

.btn {
    background-color: #ea5783;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 5%;
}

.btn:hover {
    background-color: #ecc5f3;
}

.bt {
    height: 40px;
    font-size: 14px;
    background-color: #cba4b1;
    color: white;
    border: none;
    padding: 0px 10px 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    position: fixed;
    /* 固定位置 */
    bottom: 10px;
    /* 距底部10px */
    left: 10px;
    /* 距左側10px */
}

.topnav .nav-link {
    border: none;
    overflow: hidden;
    background-color: #f1acc2;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .nav-link:hover {
    background-color: #ea5783;
    color: white;
}

@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 30px;
    }

    .header p {
        font-size: 10px;
    }

    .topnav a {
        font-size: 10px;
        padding: 10px;
        margin: 0px;
    }

    .search-form input[type="text"] {
        width: auto;
        margin-left: 0;
        font-size: 10px;
        margin-left: 10px;
    }

    .search-form button {
        width: auto;
        font-size: 10px;
    }

    .header {
        padding: 20px;
    }

    .row {
        flex-direction: column;
    }

    .product {
        width: 90%;
        margin-bottom: 20px;
    }

    .product img {
        max-width: auto;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        max-width: 300px; 
    }

    .bt {
        bottom: 10px;
        left: 10px;
        padding: 10px 20px; 
    }
}
